.user_profile {
  display: flex;
  gap: 50px;
  padding: 35px 100px;
  background-color: #fff;
}

.user_picture {
  min-width: 200px;
  max-height: 200px;
}

.user_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact {
  display: flex;
  gap: 25px;
}

.user_books {
  margin: 35px 0px;
  width: 100%;
}

.user_shelf {
  margin: 15px 100px;
  font-size: 26px;
}

.books {
  display: flex;
  background-color: #fff;
  padding: 20px 100px;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  margin: 35px 0;
}

.button {
  max-width: 350px;
  min-width: 250px;
  margin: 0;
  border: 0;
  padding: 10px 50px;
  background-color: #d47005;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 25px;
  transition: 0.3s;
  font-family: "Nunito Sans", sans-serif;
}

.button:hover {
  opacity: 0.7;
  cursor: pointer;
}
