.footer {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 6rem;
    background-color: var(--Dark-cyan);
}

.pFooter {
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    display: flex;
    font-size: 3rem;
    color: var(--Orange);
}

.img {
    height: 5rem;
    padding: 0.2rem 1rem;
}
