.footer {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: var(--Dark-cyan);
}

.pFooter {
    padding-top: 5px;
    padding-left: 20px;
    display: flex;
    font-size: 40px;
    color: var(--Orange);
}

.img {
    height: 60px;
    padding: 10px;
}
