.button {
  max-width: 400px;
  min-width: 250px;
  margin: 0;
  border: 0;
  padding: 10px 50px;
  background-color: #d47005;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 25px;
  transition: 0.3s;
  font-family: "Nunito Sans", sans-serif;
}

.button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.4;
}
