h3 {
    color: var(--Orange);
    text-align: center;
}

.formWrapper {
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    align-content: center;
}

form {
    width: 50vw;
    font-size: 1rem;
}

input {
    border-radius: 30px;
    border-style:solid;
    border-width: 1px;
    border-color: var(--Dark-cyan);
    height: 4vw;
    width: 30vw;
    padding: 1vw;
    margin-bottom: 1vw;
}

label {
    color: var(--Dark-cyan);
    padding-top: 0.5vw;
    width: 100%;
    padding-left: 12vw;
}

.btnForm {
    width: 8rem;
    height: 2.5rem;
    border-color: var(--Orange);
    border-radius: 1.5rem;
    background-color: var(--Orange);
    color: var(--Dark-cream);
    font-size: 1rem;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    margin-bottom: 3rem;
}

.labelWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
}

.picture {
    width:auto;
    height: 40vw;
}


.linkToForgotPassword {
    text-align: center;
    text-decoration: none;
    color: var(--Orange)
}