h3 {
    color: var(--Orange);
    text-align: center;
}

.formWrapper {
  width: 60rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 10rem;
  align-content: center;
  background-color: var(--Dark-cream);
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  border-radius: 2rem;
  border-style: solid;
  border-width: 1px;
  border-color: var(--Dark-cyan);
  height: 3rem;
  font-size: 1.5rem;
  width: 25rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

label {
  color: var(--Dark-cyan);
  width: 75%;
  font-size: 1.5rem;
}

.btnForm {
  width: 14rem;
  height: 3rem;
  border-color: var(--Orange);
  border-radius: 1.5rem;
  background-color: var(--Orange);
  color: var(--Dark-cream);
  font-size: 1.5rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

.labelWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.picture {
    width:auto;
    height: 40vw;
}


.linkToForgotPassword {
    text-align: center;
    text-decoration: none;
    color: var(--Orange)
}

