.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  margin:  3rem auto 1rem;
  padding-left: 6rem;
  width: 75%;
  font-size: 2.5rem;
  color: var(--Orange);
  font-family: "Nunito Sans", sans-serif;
}

.infoWrapper {
  background-color: var(--Dark-cream);
}
.book_info {
  display: flex;
  width: 75%;
  margin: auto;
}

.book_info img {
  max-width: 10rem;
  margin: 2rem 6rem;
}

.info_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6rem;
  font-size: 1.2rem;
  color: var(--Very-dark-blue);
  font-family: "Kumbh Sans", sans-serif;
}

.book_description {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  width: 75%;
  margin: auto;
  padding-left: 6rem;
  color: var(--Very-dark-blue);
}

.book_description h3 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.3rem;
  margin: 3rem 0 1.5rem;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.addButton {
  padding: 0.8rem 3rem;
  background-color: var(--Orange);
  color: var(--Cream);
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 2rem;
  border: 0;
  transition: 0.3s;
  font-family: "Nunito Sans", sans-serif;
}

.addButton:hover {
  opacity: 0.7;
  cursor: pointer;
}

.addButton:disabled {
  opacity: 0.4;
}
