.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 5px 100px;
  font-size: 38px;
  color: #d47005;
  font-family: "Nunito Sans", sans-serif;
}

.book_info {
  display: flex;
  background-color: #fff;
  max-height: 300px;
}

.book_info img {
  max-width: 170px;
  margin: 25px 100px;
}

.info_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  font-size: 20px;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
}

.book_description {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  width: 100%;
}

.book_description h3 {
  margin: 25px 100px;
  font-size: 26px;
  font-family: "Nunito Sans", sans-serif;
}

.book_description p {
  background-color: #fff;
  padding: 20px 100px 40px;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  margin: 35px 100px;
}
