.card {
  margin: 0.5rem;
  padding: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25rem;
  height: 30rem;
}

.bookCover {
  width: 14rem;
  height: 20rem;
}

.title {
  padding: 0.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--Very-dark-blue);
  text-align: center;
}
.author {
  padding: 0.1rem;
  font-size: 1.2rem;
  color: var(--Very-dark-blue);
}

a {
  text-decoration: none;
}

.cardContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
