.cardWrapper {
  margin: 0.5rem;
  padding: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25rem;
  height: 30rem;
}

.bookCover {
  width: 14rem;
  height: 20rem;
}

.title {
  padding: 0.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--Very-dark-blue);
  text-align: center;
}
.author {
  padding: 0.1rem;
  font-size: 1.2rem;
  color: var(--Very-dark-blue);
}

a {
  text-decoration: none;
}

.cardContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cardOptions {
  position: absolute;
  display: none;
}

.card:hover .cardOptions {
  position: absolute;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  background-color: rgb(38, 47, 68, 0.8);
  width: 14rem;
  height: 20rem;
}

.card:hover .cardOption {
  width: 8rem;
  height: 2rem;
  margin: 1.5rem;
  background-color: var(--Dark-cream);
  border-color: var(--Orange);
  border-width: 0.2rem;
  border-radius: 0.9rem;
  color: var(--Orange);
  font-size: 1.1rem;
  opacity: 1;
  font-family: "Nunito Sans", sans-serif;
}
.card:hover .cardOption:hover {
  width: 8rem;
  height: 2rem;
  margin: 1.5rem;
  background-color: var(--Orange);
  border-style: none;
  border-radius: 0.9rem;
  color: var(--Dark-cream);
  font-size: 1.1rem;
  font-family: "Nunito Sans", sans-serif;
}
