.navigation {
    /* position: fixed; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: var(--Dark-cyan);
  }

  .logoWrapper {
    grid-column: 1 / 2;
  }

  .logoAtena {
    grid-column: 1 / 2;
    padding: 1vw 0 1vw 5vw;
  }

  .avatarWrapper {
    display: flex;
    align-items: center;
    padding-left: 2vw;
  }


  .btnWrapper, .avatarAtena {
    grid-column: 2 / 3;
    grid-row: 1 / 2 ;
  }

  .navigationDetails {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 5vw;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .avatarAtena {
    width: 5vw;
  }

  .btnWrapper {
    padding-left: 2vw;
  }

  button:hover {
    opacity: 0.6;
}

  .navigationDetails button {
    width: 10vw;
    height: 2vw;
    font-size: 1.2rem;
    border-style: none;
    background-color: transparent;
    color: var(--Dark-cream);
  }


