.adminBox {
  margin-top: 4rem;
  background-color: var(--Darker-cream);
}

.adminWrapper {
  display: flex;
  width: 70%;
  margin: auto;
  padding-top: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.formAdminWrapper {
  margin-bottom: 4rem;
  width: 50%;
}

.adminTitle {
  font-size: 2.4rem;
  color: var(--Orange);
  margin: 1rem;
}
.adminLabel {
  color: var(--Dark-cyan);
  width: 75%;
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-bottom: 0.1rem;
}

.adminSelect,
.adminInput {
  border-radius: 2rem;
  border-style: solid;
  border-width: 1px;
  border-color: var(--Dark-cyan);
  height: 2.5rem;
  font-size: 1.3rem;
  width: 80%;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  color: var(--Dark-cyan);
}

.statusBox {
  display: flex;
  width: 80%;
  justify-content: start;
  margin-left: 1rem;
}
.statusWrapper {
  display: flex;
  margin-right: 2.2rem;
  margin-top: 1rem;
}

.status {
  height: 1.5rem;
  width: 2rem;
  margin-right: 0.8rem;
}

.statusDetails {
  font-size: 1.5rem;
}

.buttonWrapper {
  width: 80%;
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}
#buttonAppearance {
  height: 3rem;
  width: 15rem;
  background-color: var(--Orange);
  border-style: none;
  border-color: var(--Orange);
  border-radius: 1.5rem;
  color: var(--Dark-cream);
  font-size: 1.5rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
}

.illustration {
  align-self: end;
  justify-self: end;
  height: 70%;
}

.adminPanelTitleWrapper {
  width: 70%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.adminPanelTitle {
  font-size: 2.5rem;
  color: var(--Orange);
  font-family: "Kumbh Sans", sans-serif;
  font-weight: lighter;
}

.listItemBox {
  background-color: var(--Darker-cream);
  margin-top: 2rem;
}

.listItemWrapper {
  width: 70%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.bookCoverLI {
  height: 10rem;
  margin: 1rem;
}

.bookDescriptionLI {
  margin-left: 2rem;
  font-size: 1.2rem;
  padding: 1rem;
  width: 60%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--Dark-cyan);
}

.bookTitleLI {
  font-weight: bold;
}

.ButtonsWrapperLI {
  display: flex;
  width: 40%;
}

#buttonAppearanceLI {
  height: 2.5rem;
  width: 9rem;
  background-color: var(--Orange);
  border-style: none;
  border-color: var(--Orange);
  border-radius: 1.5rem;
  color: var(--Dark-cream);
  font-size: 1.2rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  margin: 1rem;
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  background-color: var(--Cream);
  border-radius: 3rem;
  border: 0.3rem solid;
  border-color: var(--Orange);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.modalContentWrapper {
  display: flex;
  flex-direction: column;
  border-color: var(--Orange);
}

.modalTitle {
  color: var(--Orange);
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.ButtonsWrapperModal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.BtnModal {
  height: 2.5rem;
  width: 12rem;
  background-color: var(--Orange);
  border-style: none;
  border-color: var(--Orange);
  border-radius: 1.5rem;
  color: var(--Dark-cream);
  font-size: 1.2rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  margin: 1rem;
}
/* .modalWrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  background-color: var(--Dark-cream);
  padding: 3vw;
} */

/* .formAdminWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4vw;
}

.adminTitle {
    color: var(--Orange);
    margin: 4vw 0 2vw 12vw;
    font-size: 1.7rem;
}

.adminWrapper {
    display: flex;
    background-color: var(--Cream);
}

.illustration {
    width: 52%;
    height: auto;
}

.status {
    width: 2vw;
}

.statusWrapper {
    display: flex;
}

.statusDetails {
    margin: 0;
    padding: 1vw ;
}
  
  .adminInput {
    border-radius: 2rem;
    border-style: solid;
    border-width: 1px;
    border-color: var(--Dark-cyan);
    height: 3rem;
    font-size: 1.5rem;
    width: 25rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .adminLabel {
    color: var(--Dark-cyan);
    width: 75%;
    font-size: 1.5rem;
  }

.adminSelect {
    border-radius: 30px;
    border-style:solid;
    border-width: 1px;
    border-color: var(--Dark-cyan);
    height: 4vw;
    width: 30vw;
    padding: 0 2vw;
    margin-bottom: 1vw;
    /* background-color: white; */
/* }

option {
    background-color: rgb(255, 247, 238);
}

.input {
    width: 30vw;
    height: 2vw;
}

.listBooksWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: left;
    align-items: center;
    margin-bottom: 1.5vw;
    background-color: var(--Cream);
}

.listBooksWrapper img {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    height: 90%;
    margin-left: 10vw;
}

.listBooksWrapper p {
color: var(--Dark-cyan);
font-size: 1.2rem;
}

.bookTitle {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
}
.bookAuthor {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.bookStatus {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.btnDelete{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin-left: 12vw;
}

.btnEdit{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

#buttonAppearance {
    width: 10vw;
    height: 3vw;
    background-color: var(--Orange);
    border-style: none;
    border-radius: 20px;
    color: var(--Dark-cream);
    font-size: 1.1rem;
}

#buttonAppearance:hover {
    opacity: 0.6;
} 

.modalWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        background-color: var(--Dark-cream);
        padding: 3vw;
    } */
