.headerWrapper {
    /* padding-top: 10vw; */
    width: 100%;
    height: 30vw;
    background-color: var(--Dark-cyan);
}

.illustrationWrapper {
    height: 100%;
    display: flex;
    justify-content: end;
    padding-right: 5vw;
}

.illustration {
    height: 100%;
}

.description {
    z-index: 2;
    position: absolute;
    top: 16vw;
    left: 9vw;
    color: var(--Dark-cream);
    font-size: 1rem;
}

.btn {
    width: 20vw;
    height: 3vw;
    background-color: var(--Orange);
    border-style: none;
    border-radius: 20px;
    color: var(--Dark-cream);
    font-size: 1.3rem;
    margin-top: 4vw;
}

.btn:hover {
    opacity: 0.6;
}